In [1]:
#1.정수형 변수와 연산 
a = 10
b = 20
c = a + b

print(a) # 10
print(b) # 20
print(c) # 30

10
20
30

In [2]:
#2. 실수형 변수와 연산
a = 1.5
b = 2.5
c = a * b

print(a) # 1.5
print(b) # 2.5
print(c) # 3.75

1.5
2.5
3.75

In [3]:
#3. 문자열 변수
name = 'Alice'
greeting = 'Hello, ' + name + '!'

print(name) # Alice
print(greeting) # Hello, Alice!

Alice
Hello, Alice!

In [4]:
#4. boolean 변수와 연산 
a = 10
b = 20

result1 = a < b
result2 = a == b

print(result1) # True
print(result2) # False

True
False

In [5]:
#5. 리스트
fruits = ['apple', 'banana', 'cherry']
print(fruits[0]) # apple
print(fruits[1]) # banana
print(fruits[2]) # cherry

fruits.append('orange')
print(fruits) # ['apple', 'banana', 'cherry', 'orange']

apple
banana
cherry
['apple', 'banana', 'cherry', 'orange']

In [6]:
#6 튜플
mytuple = (1, 2, 3)
print(mytuple[0]) # 1
print(mytuple[1]) # 2
print(mytuple[2]) # 3

# 튜플은 값을 변경할 수 없습니다.
# mytuple[0] = 4 # TypeError 발생

1
2
3

In [7]:
#7. Dictionary 사전 
person = {'name': 'Alice', 'age': 25, 'city': 'Seoul'}
print(person['name']) # Alice
print(person['age']) # 25
print(person['city']) # Seoul

person['job'] = 'engineer'
print(person) # {'name': 'Alice', 'age': 25, 'city': 'Seoul', 'job': 'engineer'}

Alice
25
Seoul
{'name': 'Alice', 'age': 25, 'city': 'Seoul', 'job': 'engineer'}

In [8]:
#.8 if Loop
x = 10
if x > 0:
    print('x는 양수입니다.')
elif x == 0:
    print('x는 0입니다.')
else:
    print('x는 음수입니다.')

x는 양수입니다.

In [9]:
#9. while Loop
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [11]:
#10. for Loop(Function: Range)
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
#11. for Loop(Overlap)
for i in range(2):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

In [ ]:
#12. Input
# user_input의 자료형(type) = 문자열(String)
user_input = input()

# user_input의 자료형(type) = 정수형(int)
user_input = int(input())

In [15]:
#13. Output
print(user_input)

In [14]:
#14. for Loop(List)
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry